/* catppuccin mocha */

@define-color rosewater     #4f031b;
@define-color flamingo      #69031a;
@define-color pink          #4e122d;
@define-color mauve         #511b33;
@define-color red           #9e1818;
@define-color maroon        #a54218;
@define-color peach         #968c90;
@define-color yellow        #6a5661;
@define-color green         #923e59;
@define-color teal          #a5465c;
@define-color sky           #9b426a;
@define-color sapphire      #a3466f;
@define-color blue          #c27272;
@define-color lavender      #c48e77;
@define-color text          #c3c1c2;
@define-color subtext1      #dacfd4;
@define-color subtext0      #c6bbc0;
@define-color overlay2      #b2a7ac;
@define-color overlay1      #9e9398;
@define-color overlay0      #8a7f84;
@define-color surface2      #766b70;
@define-color surface1      #62575c;
@define-color surface0      #4e4348;
@define-color base          #3a2f34;
@define-color mantle        #261b20;
@define-color crust         #12070c;

/*
	br - border
	bg - background
	fg - foreground
*/

/* main colors */

@define-color accent        @lavender;
@define-color main-br       @subtext0;
@define-color main-bg       @crust;
@define-color main-fg       @text;
@define-color hover-bg      @base;
@define-color hover-fg      alpha(@main-fg, 0.75);
@define-color outline       shade(@main-bg, 0.5);

/* module colors */

@define-color workspaces    @mantle;
@define-color temperature   @mantle;
@define-color memory        @base;
@define-color cpu           @surface0;
@define-color time          @surface0;
@define-color date          @base;
@define-color tray          @mantle;
@define-color volume        @mantle;
@define-color backlight     @base;
@define-color battery       @surface0;

/* state colors */

@define-color warning       @yellow;
@define-color critical      @red;
@define-color charging      @green;
