// Default Theme Color Palette

// Red
$red-light: #2e2a46;
$red-dark: #5847a7;

// Pink
$pink-light: #511e3d;
$pink-dark: #a54782;

// Purple
$purple-light: #2d3c4d;
$purple-dark: #4a77ae;

// Blue
$blue-light: #443e5c;
$blue-dark: #715fba;

// Teal
$teal-light: #694b7c;
$teal-dark: #ab7ec7;

// Green
$green-light: #647279;
$green-dark: #8eb6ce;

// Yellow
$yellow-light: #938b96;
$yellow-dark: #c2c1c3;

// Orange
$orange-light: #61566a;
$orange-dark: #c2c1c3;

// Grey
$grey-050: #c1bbc5;
$grey-100: #b7b1bb;
$grey-150: #ada7b1;
$grey-200: #a39da7;
$grey-250: #99939d;
$grey-300: #8f8993;
$grey-350: #857f89;
$grey-400: #7b757f;
$grey-450: #716b75;
$grey-500: #67616b;
$grey-550: #5d5761;
$grey-600: #534d57;
$grey-650: #49434d;
$grey-700: #3f3943;
$grey-750: #352f39;
$grey-800: #2b252f;
$grey-850: #211b25;
$grey-900: #17111b;
$grey-950: #0d0711;

// White
$white: #c2c1c3;

// Black
$black: #0d0711;

// Button
$button-close: $red-dark;
$button-max: $green-dark;
$button-min: $yellow-dark;

// Link
$links: $blue-light;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
