// Default Theme Color Palette

// Red
$red-light: #303346;
$red-dark: #495aab;

// Pink
$pink-light: #5e4251;
$pink-dark: #bc6393;

// Purple
$purple-light: #40515d;
$purple-dark: #6094bb;

// Blue
$blue-light: #48556d;
$blue-dark: #718fc2;

// Teal
$teal-light: #596f8c;
$teal-dark: #93add1;

// Green
$green-light: #60849e;
$green-dark: #a4c2d8;

// Yellow
$yellow-light: #958a95;
$yellow-dark: #c2c0c2;

// Orange
$orange-light: #695569;
$orange-dark: #c2c0c2;

// Grey
$grey-050: #c2bac2;
$grey-100: #b8b0b8;
$grey-150: #aea6ae;
$grey-200: #a49ca4;
$grey-250: #9a929a;
$grey-300: #908890;
$grey-350: #867e86;
$grey-400: #7c747c;
$grey-450: #726a72;
$grey-500: #686068;
$grey-550: #5e565e;
$grey-600: #544c54;
$grey-650: #4a424a;
$grey-700: #403840;
$grey-750: #362e36;
$grey-800: #2c242c;
$grey-850: #221a22;
$grey-900: #181018;
$grey-950: #000000;

// White
$white: #c2c0c2;

// Black
$black: #000000;

// Button
$button-close: $red-dark;
$button-max: $green-dark;
$button-min: $yellow-dark;

// Link
$links: $blue-light;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
