// Default Theme Color Palette

// Red
$red-light: #102b2d;
$red-dark: #387f84;

// Pink
$pink-light: #930e2f;
$pink-dark: #bc6379;

// Purple
$purple-light: #3f315d;
$purple-dark: #7357b7;

// Blue
$blue-light: #33613c;
$blue-dark: #5ab86e;

// Teal
$teal-light: #53567f;
$teal-dark: #868bcb;

// Green
$green-light: #517e4e;
$green-dark: #86c982;

// Yellow
$yellow-light: #968c90;
$yellow-dark: #c3c1c2;

// Orange
$orange-light: #6a575d;
$orange-dark: #c3c1c2;

// Grey
$grey-050: #c6bcbf;
$grey-100: #bcb2b5;
$grey-150: #b2a8ab;
$grey-200: #a89ea1;
$grey-250: #9e9497;
$grey-300: #948a8d;
$grey-350: #8a8083;
$grey-400: #807679;
$grey-450: #766c6f;
$grey-500: #6c6265;
$grey-550: #62585b;
$grey-600: #584e51;
$grey-650: #4e4447;
$grey-700: #443a3d;
$grey-750: #3a3033;
$grey-800: #302629;
$grey-850: #261c1f;
$grey-900: #1c1215;
$grey-950: #000000;

// White
$white: #c3c1c2;

// Black
$black: #000000;

// Button
$button-close: $red-dark;
$button-max: $green-dark;
$button-min: $yellow-dark;

// Link
$links: $blue-light;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
