keybinds {

}



// Choose the theme that is specified in the themes section.
theme "test"



themes {
    test {
        fg "#e0def4"
        bg "#191724"
        black "#191724"
        red "#eb6f92"
        green "#31748f"
        yellow "#f6c177"
        blue "#9ccfd8"
        magenta "#c4a7e7"
        cyan "#ebbcba"
        white "#6e6a86"
        orange "#b4637a"
    }
}
