// Default Theme Color Palette

// Red
$red-light: #1e0744;
$red-dark: #5a3c8e;

// Pink
$pink-light: #22165d;
$pink-dark: #5948a9;

// Purple
$purple-light: #203645;
$purple-dark: #447c9f;

// Blue
$blue-light: #491e60;
$blue-dark: #8e4bb1;

// Teal
$teal-light: #2a338c;
$teal-dark: #7279c2;

// Green
$green-light: #4287b3;
$green-dark: #9ebfd5;

// Yellow
$yellow-light: #8f8a96;
$yellow-dark: #c1c0c3;

// Orange
$orange-light: #5c5669;
$orange-dark: #c1c0c3;

// Grey
$grey-050: #bdbac4;
$grey-100: #b3b0ba;
$grey-150: #a9a6b0;
$grey-200: #9f9ca6;
$grey-250: #95929c;
$grey-300: #8b8892;
$grey-350: #817e88;
$grey-400: #77747e;
$grey-450: #6d6a74;
$grey-500: #63606a;
$grey-550: #595660;
$grey-600: #4f4c56;
$grey-650: #45424c;
$grey-700: #3b3842;
$grey-750: #312e38;
$grey-800: #27242e;
$grey-850: #1d1a24;
$grey-900: #13101a;
$grey-950: #090610;

// White
$white: #c1c0c3;

// Black
$black: #090610;

// Button
$button-close: $red-dark;
$button-max: $green-dark;
$button-min: $yellow-dark;

// Link
$links: $blue-light;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
