* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #191724;
    background-alt:              #26233a;
    foreground:                  #e0def4;
    selected:                    #f6c177;
    active:                      #eb6f92;
    urgent:                      #c4a7e7;
}