* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #16161e;
    background-alt:              #363b54;
    foreground:                  #787c99;
    selected:                    #e0af68;
    active:                      #f7768e;
    urgent:                      #bb9af7;
}