* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #1E1E2E;
    background-alt:              #94E2D5;
    foreground:                  #CDD6F4;
    selected:                    #F9E2AF;
    active:                      #F38BA8;
    urgent:                      #F5C2E7;
}