* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: #07050c;
}

button {
	border-radius: 0;
	border-color: #51244e;
	text-decoration-color: #51244e;
	color: #51244e;
	background-color: #8d8995;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    margin: 10px
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: #533986;
	outline-style: none;
}