* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: #0a0813;
}

button {
	border-radius: 0;
	border-color: #932869;
	text-decoration-color: #932869;
	color: #932869;
	background-color: #8e8c96;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    margin: 10px
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: #5a47a6;
	outline-style: none;
}